@mixin menu_hover{
    &:hover{
        color:$amain-color;
        &:hover{
            
            transform: scale(1.05);
        }
        
    }
}

@mixin btn_hover{
    &:hover{
        background: $btna-color;
        &:hover{
            
            transform: scale(1.03);
        }
    }
}

@mixin flink_hover{
    &:hover{
        /* transition: 0.4s all ; */
        color:#fff;
        font-weight: 600;
        &:hover{
            
            transform: scale(1.03);
        }
    }
}

