@media  (max-width: 1400px){
    .promo{
        top: 202px;
        min-height: 843px;
        &__title{
            margin-top: 413px;
            margin-left: 406px;
            margin-right: 0px;
            font-size: 72px;
        }
    }
    .our{
        top: 1193px;
        min-height: 1036px;
        &__pick{
            width: 353px;
            height: 353px;
        }
    }
    .about{
        top: 2329px;
        min-height: 806px;
        &__text{
            width: 432px;
            margin-top: 0;
        }
        &__wrapper{
            grid-template-columns: 543px 433px;
            /* justify-content: space-between; */
            column-gap: 112px;
        }
        &__slider{
            width: 542px;
            height: 380px;
        }
        &__smslider{
            top: 425px;
            width: 542px;
            height: 165px;
            img{
                margin: 0 5px;
                width: 167px;
                height: 120px;
            }
        }
    }
    .orders{
        top: 3235px;
        min-height: 878px;
        &__bslider{
            margin-top: 94px;
            width: 726px;
            height: 371px;
            img{
                width:100%;
                height: 100%;
            }
        }
        &__slider{
            width: 726px;
            height: 170px;
        }
        &__item{
            width: 166px;
            height: 114px;
            img{
                width:100%;
                height: 100%;
            }
        }
        
    }
    .contacts{
        top: 4121px;
        &__wrapper{
            width: 1028px;
            margin-right: 0;
            margin-left: 72px; 
            margin-top: 70px;
            grid-template-columns: 333px 600px;
            
        }
        &__info{
           margin-right: 100px;
           /*  margin-left: 72px; */
        }
    }
    .footer{
        top: 4744px;
    }
    
}

@media  (max-width: 1200px){
    header{
        .menu{
            &_link2{
                margin-top: 2px;
            }
            &_link3{
                margin-top: 2px;
            }
        }
    }
    .promo{
        top: 182px;
        min-height: 634px;
        &__title{
            margin-left: 384px;
            margin-top: 310px;
            width: 534px;
            font-size: 58px;
        }
    }

    .our{
        top: 882px;
        min-height: 862px;
        &__pick{
            width: 295px;
            height: 295px;
        }
        &__bellow{
            margin-top: 30px;
        }
        
    }
    .about{
        top: 1794px;
        min-height: 723px;
        &__wrapper{
            grid-template-columns: 450px 400px;
            column-gap:98px;
        }
        &__slider{
            width: 450px;
            height: 315px;
            img{
                width: 100%;
                height: 315px;
            }
        }
        &__smslider{
            top: 345px;
            width: 450px;
            height: 135px;
            img{
                margin: 0 7px;
                width: 100%;
                height: 97px;
            }
        }
        .slick-dots{
            margin-top: 15px;
        }
        &__text{
            width: 400px;
            font-size: 16px;
            margin-top: 40px;
        }
        &__slidwrapper{
            height: 480px;
        }

    }

    .orders{
        top: 2556px;
    }
    .contacts{
        top: 3440px;
        min-height: 573px;
        &__map{
           display: none;
        }
        &__wrapper{
            width: 900px;
            height: 327px;
            margin-left: 60px;
            grid-template-columns: 310px 490px;
            column-gap:60px
        }
        &__1Tbmap{
            display: block;
            width: 450px;
            height: 327px;
        }
      &__info{
        margin-top: 45px;
      }
    }
    .footer{
        top: 4030px;
    }
}



@media  (max-width: 992px){
    header{
        min-height: 120px;
        padding: 35px 0;
        .menu{
            margin-bottom: 0;
            &_link3{
                margin-left: 58px;
                font-size: 14px;
            }
            &_link2{
                font-size: 14px;
            }
            &__block{
                width: 50%;
            }
        }
    }
    .promo{
        top: 155px;
        left: 0;
        margin-bottom: 35px;
        min-height:480px;
        &__title{
            font-size: 42px;
            margin-left: 304px;
            margin-top: 258px;
            width: 398px;
        }
    }
    .our{
        top: 730px;
        padding: 35 0px;
        &__title{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 114%;
            /* or 36px */

            text-align: center;
        }
        &__wrapper{
            display: block;
        }
        &__fwrapper{
            display: none;
        }

        &__see{
            margin-left: 360px;
            margin-top: 24px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
            line-height: 114%;
        }
        &__box{
            display: flex;
            justify-content: space-between;
            img{
                width: 338px;
                height: 367px;
            }
        }
        &__2bellow{
            margin-top: 30px;
        }

    }

    .about{
        top: 1730px;
        min-height: 1015px;
        &__title{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 114%;
            /* or 36px */

            text-align: center;
        }
        &__tbwrapper{
            width: 538px;
            margin: 0 auto;
            display: block;
        }
        &__wrapper{
            display: none;
        }
        &__tbtext{
            width: 538px;
            margin-top: 32px;
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 145%;
            /* or 23px */


            color: rgba(0, 0, 0, 0.5);
        }
        &__tbslidwrapper{
            
            margin-top: 50px;
        }
        &__tbslider{
            width: 537px;
            height: 317px;
            img{
                width: 100%;
                height: 317px;
            }
        }

        &__tbsmslider{
            margin-top: 30px;
            width: 537px;
            height: 124px;
            img{
                margin: 0 5px;
                width: 172px;
                height: 124px;
            }
        }
        .slick-dots{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            font-size: 0;
            margin-top: 25px;
            cursor:pointer;
            .slick-active{
               
                button{
                    background-color: transparent;
                    border: 1px solid #000;
                }
            }
            li{
                list-style: none;
                margin: 0 10px;
                
                button{
                    opacity: 1;
                    font-size: 0;
                    width: 20px;
                    height: 20px;
                    background-color: rgb(114, 114, 114);
                    border-radius: 100%;
                    border:none;
                }
           
        }

        }
    }
    .orders{
        top: 2778px;
        min-height: 722px;
        &__title{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 114%;
            /* or 36px */

            text-align: center;
        }
        &__bslider{
            margin-top: 70px;
            width: 588px;
            height: 301px;
        }
        &__slider{
            width: 588px;
            height: 131px; 
            margin-top: 30px;
        }
        &__item{
            width: 189px;
            height: 130px;
            margin: 0 5px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .contacts{
        top: 3500px;
        min-height: 787px;
        &__title{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            line-height: 114%;
            /* or 36px */

            text-align: center;
        }
        &__tbinfo{
            margin-left: 49px;
        }
        &__wrapper{
            display: none;
        }
        &__tbwrapper{
            display: block;
            margin-top: 32px;
        }
        &__tbmap{
            margin: 0 auto;
            margin-top: 50px;
            width: 600px;
            height:400px
        }
        &__form{
            input{
                width: 416.07px;
                height: 37px;
                border: 1px solid rgba(0, 0, 0, 0.5);
                border-radius: 12px;
            }
            button{
                width: 416.07px;
                height: 37px;
                background: #F79E1B;
                border-radius: 12px;font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 26px;
                line-height: 31px;
                
                color: #FFFFFF;
            }
        }
    }

    .footer{
        top: 4359px;
        min-height: 375px;
        padding: 35px 0;
        &__tbwrapper{
            width: 598px;
            min-height: 235px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
        &__wrapper{
            display: none;
        }
        &__2tbblock{
            display: block;
            margin-top: 108px;
        }
        &__tlink{
            display: block;
            text-decoration: none;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 72.52%;
            margin-bottom: 23px;
            color:#fff;
            @include flink_hover;
            /* or 17px */
            span{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 114%;
            }
        }
        &__rights{
            top: 40px;;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            /* identical to box height */


            color: rgba(255, 255, 255, 0.75);
        }
        &__sign{
            top: 40px;;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            /* identical to box height */


            color: rgba(255, 255, 255, 0.75);
        }
        &__cards{
            display: flex;
            justify-content: flex-end;
        }
        &__media{
            margin-bottom: 36px;
        }
    }
    
}


@media  (max-width: 768px){
    header{
        padding: 30px 0;
        min-height: 110px;
        .menu{
            &_link3{
                font-size: 14px;
                margin-left: 25px;
            }
            &_link2{
                font-size: 14px;
            }
            &__block{
                width: 55%;
            }
        }
    }

    .promo{
        top: 140px;
        min-height: 406px;
        margin-bottom: 30px;
        &__title{
            font-size: 36px;
            width: 332px;
            margin-left: 180px;
            margin-top: 198px;
        }
    }

    .our{
        top: 591px;
        min-height: 790px;
        margin-bottom: 30px;
        padding: 30px 0;
        &__box{
            display: flex;
            justify-content: space-between;
            img{
                width: 248px;
                height: 269px;
            }
        }
        &__2bellow{
            margin-top: 25px;
        }
        &__see{
            margin-left: 269px;
        }
    }

    .about{
        top: 1387px;
        padding: 30px 0;
        &__tbtext{
            width: 512px;
        }
        &__tbslider{
            width: 512px;
            height: 302px;
            img{
                width: 100%;
                height: 302px;
            }
        }
        &__tbsmslider{
            width: 512px;
            height: 118px;
            img{
                width: 170px;
                height: 118px;
            }
        }
        &__tbslidwrapper{
            width: 512px;
        }
        &__tbwrapper{
            width: 512px;
        }
    }

    .orders{
        top: 2432px;
        min-height:672px;
        padding: 30px 0;
        &__bslider{
            width: 500px;
            height: 256px;
            img{
                width: 100%;
                height: 256px;
            }
        }
        &__slider{
            width: 500px;
            height: 116px;
            img{
                width: 155px;
                height: 116px;
            }

        }
    }
    .contacts{
        top: 3134px;
        padding: 30px 0;
        &__form{
            width: 418px;
        }
        &__2tbmap{
            margin: 0 auto;
            margin-top: 50px;
            display: block;
            width: 516px;
            height: 344px;

           
        }
        &__tbmap{
            display: none;
        }
        &__tbinfo{
            margin-left: 0;
        }
    }
    .footer{
        top: 3925px;
        padding: 30px 0;
        &__tbwrapper{
            width: 516px;
        }
        &__2block{
            width: 186px;
        }
        &__rights{
            width: 307px;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
        &__sign{
            top: 45px;
            right: 50%;
            transform: translateX(50%);
        }
    }
}

<<<<<<< HEAD
@media  (max-width: 576px){
    header{
        position: relative;
        min-height: 60px;
        top: 0;
        left:0;
        
        padding:  0;
        z-index: 10;
        nav{
            position: fixed;
            z-index: 10;
        }
        .menu{
            display: none;
        }
        .mb{
            margin-top: 15px;
            display: flex;
            
            justify-content: space-between;
            
            
            top: 0px;
            left: 10px;
            width: 100%;
            /* height: 100vh; */
            z-index: 4;
            &_tel{
               
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 72.52%;
                /* or 15px */
                text-align: center;

                color: rgba(41, 143, 166, 0.75);
                cursor:pointer ;
            }
            &_adress{
                margin-top: 18px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 114%;
                /* or 21px */
                text-align: center;

                color: rgba(41, 143, 166, 0.75);
                cursor:pointer ;
            }
            &_media{
                width: 245px;
                margin: 0 auto;
                margin-top: 28px;
            }
            
            &__icon{
                cursor:pointer ;
                img{
                    width: 26px;
                    height: 26px;
                    margin-left: 19px;
                   
                }
                &:nth-child(1){
                    margin-left: 0;
                    
                }
            }
            &__twit{
                margin-left: 0;
            }
            &_info{
                width: 257px;
                margin: 0 auto;
                /* margin-top: 210px; */
                z-index: 21;
            }

            &_hamburger{
                display: block;
                width: 42px;
                height: 20px;
                margin-top: 5px;
                &__short{
                    display: block;
                    width: 36px;
                    height: 4px;
                    margin-left: 6px;
                    margin-right: 0;
                    
                    background: rgba(41, 143, 166, 0.6);
                    border-radius: 1px;
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                  
                }
                &__long{
                    display: block;
                    width: 42px;
                    height: 4px;
                    margin-top: 4px;
                    margin-bottom: 4px;
                    background: rgba(41, 143, 166, 0.6);
                    border-radius: 1px;
                    transform: matrix(-1, 0, 0, 1, 0, 0);
                }
                span{
                    transition: 0.5s all;
                }
                &_active{
                    span{
                        margin-bottom: -4px;
                        &:nth-child(1){
                            transform:translateY(3px) rotate(-45deg);
                        }
                        &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(3){
                            transform:translateY(3px) rotate(45deg);
                        }
                    }
                   
                }

            }
           
            &_phone{
                display: block;
                margin-top: 7px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 72.52%;
                color:#298FA6;
            }
            &_menu{
                list-style-type: none;
                width: 138px;
                margin: 0 auto;
                margin-top: 85px;
                padding: 0;
                z-index: 21;
                &__item{
                    text-align: center;
                    margin-bottom: 30px;
                    cursor:pointer ;
                    &:nth-child(3){
                        margin-bottom: 0;
                        
                    }
                }
                &__link{
                    text-align: center;
                    text-decoration: none;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 72.52%;
                    color:#298FA6;
                    
                }

            }

            &_logo{
                width: 30px;
                height: 30px;
            }
            &_link{
                text-align: center;
                margin-left: 0;
               /*  margin-bottom: 30px;
                font-size: 32px; */
                width: 30px;
                    height: 30px;
                img{
                    width: 30px;
                    height: 30px;
                }
            }
           
            &_block{
                display: flex;
                padding: 30px 0 45px 0;
                position: absolute;
                top: 0;
                left: -100%;
                width: 100%;
                flex-direction: column;
                height: 100vh;
                justify-content: space-between;
                align-items:center;
                
                background-color: rgb(255, 255, 255, .9);
                z-index: 20;
                transition: 0.6s all;
                &_active{
                    left: 0;
                }
               
            }
            &__close{
                position: absolute;
                top: 30px;
                right: 25px;
            }
        }
    }

    .promo{
        top: 61px;
        min-height: 523px;
        margin-bottom: 0;
        &__title{
            width: 243px;
            margin: 0 auto;
            margin-top: 195px;
            font-weight: 600;
            font-size: 36px;
            line-height: 114%;
            
            text-align: center;
        }
    }

    .our{
        top: 599px;
        min-height: 817px;
        margin-bottom: 0;
        &__wrapper{
            display: none;
        }
        &__title{
            margin: 0 auto;
            width: 190px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 114%;
          
            text-align: center;
            margin-bottom: 42px;
            
        }
        &__mbwrapper{
    
            min-height: 646px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           img{
            display: block;
            margin: 0 auto;
            margin-bottom: 12px;
            width: 300px;
            height: 326px;
           }
        }
        &__see{
            width: 73px;
            margin: 0 auto;
            margin-top: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 114%;
            


            color: rgba(238, 133, 36, 0.5);
        }
    }

    .about{
        top: 1447px;
        min-height: 549px;
        &__title{
            margin: 0 auto;
            width: 190px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 114%;
          
            text-align: center;
        }
        &__tbwrapper{
            display: none;
        }
        &__mbwrapper{
            display: grid;
        }
        &__mbtext{
            margin: 0 auto;
            margin-top: 28px;
            width: 216px;
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 145%;
           


            color: rgba(0, 0, 0, 0.4);
        }
        &__mbslder{
            margin: 0 auto;
            margin-top: 30px;
            width: 300px;
            img{
                width: 300px;
                height: 177px;
            }
        }
        &__read{
            margin: 0 auto;
            margin-top: 12px;
            font-family: 'Merriweather';
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 145%;
           


            color: rgba(238, 133, 36, 0.4);
        }
        .slick-dots{
            margin-top: 15px;
            .slick-active{
               
                button{
                    background-color: transparent;
                    border: 1px solid #000;
                }
            }
            li{
                margin: 0 4px;
                button{
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    .orders{
        top: 2054px;
        min-height: 375px;
        &__title{
            margin: 0 auto;
            width: 190px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 114%;
          
            text-align: center;
        }
        &__bslider{
            display: none;
        }
        &__slider{
            display: none;
        }
        &__mbslider{
            display: block;
            margin: 0 auto;
            margin-top: 42px;
            width: 300px;
            height: 177px;
            img{
                width: 300px;
                height: 177px;
            }
        }
        &__mbitem{
            img{
                width: 300px;
                height: 177px;
            }
        }
        .slick-dots{
           
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            margin-top: 15px;
            .slick-active{
                cursor:pointer;
                button{
                    background-color: transparent;
                    border: 1px solid #000;
                }
            }
            li{
                list-style: none;
                margin: 0 4px;
                
                button{
                    opacity: 1;
                    font-size: 0;
                    width: 14px;
                    height: 14px;
                    background-color: rgb(114, 114, 114);
                    border-radius: 100%;
                    border:none;
                }
           
        }
       
        }
    }

    .contacts{
        top: 2435px;
        min-height: 546px;
        &__title{
            font-weight: 500;
            font-size: 24px;
            line-height: 114%;
            

            text-align: center;
        }
        &__tbinfo{
            margin-left: 0;
            margin: 0 auto;
            
            
            width:80%;
        }
        &__form{
            margin-top: 19px;
            width: 100%;
            input{
                width: 100%;
            }
            button{
                margin-top: 10px;
                width: 100%;
            }
        }
        &__adres{
            margin-top: 28px;
            font-weight: 400;
            font-size: 17px;
            line-height: 114%;
           
            text-align: center;

            color: rgba(0, 0, 0, 0.55);
        }
        &__tel{
            margin-top: 16px;
            font-weight: 400;
            font-size: 17px;
            line-height: 114%;
            text-align: center;
           
            color: rgba(0, 0, 0, 0.55);
            span{
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
               
                color: rgba(0, 0, 0, 0.55);
            }
        }
        &__email{
            margin-top: 16px;
            font-weight: 400;
            font-size: 17px;
            line-height: 114%;
            text-align: center;
           
            color: rgba(0, 0, 0, 0.55);
            span{
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
            
                color: rgba(0, 0, 0, 0.55);
            }
        }
        &__2tbmap{
            display: none;
        }
        &__mbmap{
            
            margin-top: 30px;
            display: block;
            iframe{
                display: block;
                margin: 0 auto;
            }
            
        }
    }

    .footer{
        top: 2983px;
        min-height: 500px;
        &__tbwrapper{
            width: 288px;
            min-height: 322px;
            flex-direction: column;
            justify-content: space-between;
            
        }
        &__tlink{
            font-weight: 400;
            font-size: 22px;
            line-height: 72.52%;
           
           align-items: center;
        }
        &__1tlink{
            width: 63px;
            margin: 0 auto;
            margin-bottom: 21px;
        }
        &__2tlink{
            width: 64px;
            margin: 0 auto;
            margin-bottom: 21px;
        }
        &__3tlink{
            width: 95px;
            margin: 0 auto;
            margin-bottom: 21px;
        }
        &__4tlink{
            width: 185px;
            margin: 0 auto;
            margin-bottom: 21px;
        }
        &__5tlink{
            width: 206px;
            margin: 0 auto;
            margin-bottom: 21px;
        }
        &__6tlink{
            width: 289px;
            margin: 0 auto;
           
            
        }
        &__media{
            margin: 0 auto;
        }
        &__2tbblock{
            width: 200px;
            margin: 0 auto;
        }
        &__cards{
            margin-top: 17px;
            justify-content: center;
        }
        &__rights{
            top: 52px;
            font-size: 16px;
            line-height: 120%;
            

            text-align: center;

            color: rgba(255, 255, 255, 0.75);
            width: 230px;

        }
        &__sign{
            top: 96px;
            width: 240px;
        }

    }


    
}

/* @media (max-width:575px){
=======
@media (max-width:575px){
>>>>>>> c869ffe33179917432d3eeefd3a430a92723d14d
    .container{
        padding: 0 10px;
    }
    header{
        padding: 15px 0;
        min-height: 60px;
        background-color: #fff;
        .container{
            padding: 0;
            
        }
        nav{
            position: relative;
        }
        .menu{
            position: fixed;
            z-index: 3;
            width:100%;
           
            &__block{
                top: 0;
                right: 0;
                width: 73%;
<<<<<<< HEAD
                
=======
                /* height: 100vh; */
>>>>>>> c869ffe33179917432d3eeefd3a430a92723d14d
                padding: 30px 0 45px 0;
                flex-direction: column;
                background-color:rgba(f, f, f, .8);
            }
            &_link{
                margin-left: 10px;
                width: 30px;
                height: 30px;
                img{
                  width: 100%;  
                }
               
            }
            &_logo{
                width: 30px;
                height: 30px;
            }
        }
    }
    .promo{
        min-height: 523px;
        &__title{
            width: 243px;
            margin: 0 auto;
            margin-top: 195px;
            font-weight: 600;
            font-size: 36px;
            line-height: 114%;
            
            text-align: center;
        }
    }
    .our{
        min-height: 817px;
        &__wrapper{
            display: none;
        }
        &__mbwrapper{
            min-height: 646px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           img{
            width: 300px;
            height: 326px;
           }
        }
        &__see{
            width: 73px;
            margin: 0 auto;
            margin-top: 22px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 114%;
            


            color: rgba(238, 133, 36, 0.5);
        }
    }
    .about{
        min-height: 547px;
        &__tbwrapper{
            display: none;
        }
        &__mbwrapper{
            display: grid;
        }
        &__mbtext{
            margin: 0 auto;
            margin-top: 28px;
            width: 216px;
            font-family: 'Merriweather';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 145%;
           


            color: rgba(0, 0, 0, 0.4);
        }
        &__mbslder{
            margin-top: 30px;
            width: 300px;
            img{
                width: 300px;
                height: 177px;
            }
        }
        &__read{
            margin: 0 auto;
            margin-top: 12px;
            font-family: 'Merriweather';
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 145%;
           


            color: rgba(238, 133, 36, 0.4);
        }
    }
    .orders{
        min-height: 346px;
        &__title{
            margin: 0 auto;
            width: 190px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 114%;
          
            text-align: center;
        }
        &__bslider{
            display: none;
        }
        &__slider{
            display: none;
        }
        &__mbslider{
            display: block;
            margin: 0 auto;
            margin-top: 42px;
            width: 300px;
            height: 177px;
            img{
                width: 300px;
                height: 177px;
            }
        }
        &__mbitem{
            img{
                width: 300px;
                height: 177px;
            }
        }
        .slick-dots{
           
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            margin-top: 13px;
            .slick-active{
                cursor:pointer;
                button{
                    background-color: transparent;
                    border: 1px solid #000;
                }
            }
            li{
                list-style: none;
                margin: 0 10px;
                
                button{
                    opacity: 1;
                    font-size: 0;
                    width: 20px;
                    height: 20px;
                    background-color: rgb(114, 114, 114);
                    border-radius: 100%;
                    border:none;
                }
           
        }
       
        }
    }

    .contacts{
        &__title{
            font-weight: 500;
            font-size: 24px;
            line-height: 114%;
            

            text-align: center;
        }
        &__tbinfo{
            margin-left: 0;
            margin: 0 auto;
            
            width:260px;
        }
        &__form{
            margin-top: 19px;
            width: 260px;
            input{
                width: 260px;
            }
            button{
                margin-top: 10px;
                width: 260px;
            }
        }
        &__adres{
            margin-top: 28px;
            font-weight: 400;
            font-size: 17px;
            line-height: 114%;
           
            text-align: center;

            color: rgba(0, 0, 0, 0.55);
        }
        &__tel{
            margin-top: 16px;
            font-weight: 400;
            font-size: 17px;
            line-height: 114%;
            text-align: center;
           
            color: rgba(0, 0, 0, 0.55);
            span{
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
               
                color: rgba(0, 0, 0, 0.55);
            }
        }
        &__email{
            margin-top: 16px;
            font-weight: 400;
            font-size: 17px;
            line-height: 114%;
            text-align: center;
           
            color: rgba(0, 0, 0, 0.55);
            span{
                font-weight: 400;
                font-size: 14px;
                line-height: 114%;
            
                color: rgba(0, 0, 0, 0.55);
            }
        }
        &__2tbmap{
            display: none;
        }
        &__mbmap{
            margin-top: 30px;
            display: block;
        }
    }
    .footer{
        min-height: 500px;
        &__tbwrapper{
            width: 288px;
            min-height: 322px;
            flex-direction: column;
            justify-content: space-between;
            
        }
        &__tlink{
            font-weight: 400;
            font-size: 22px;
            line-height: 72.52%;
           
           align-items: center;
        }
        &__1tlink{
            width: 63px;
            margin: 0 auto;
            margin-bottom: 21px;
        }
        &__2tlink{
            width: 64px;
            margin: 0 auto;
            margin-bottom: 21px;
        }
        &__3tlink{
            width: 95px;
            margin: 0 auto;
            margin-bottom: 21px;
        }
        &__4tlink{
            width: 185px;
            margin: 0 auto;
            margin-bottom: 21px;
        }
        &__5tlink{
            width: 206px;
            margin: 0 auto;
            margin-bottom: 21px;
        }
        &__6tlink{
            width: 289px;
            margin: 0 auto;
           
            
        }
        &__media{
            margin: 0 auto;
        }
        &__2tbblock{
            width: 200px;
            margin: 0 auto;
        }
        &__cards{
            margin-top: 17px;
            justify-content: center;
        }
        &__rights{
            top: 52px;
            font-size: 16px;
            line-height: 120%;
            

            text-align: center;

            color: rgba(255, 255, 255, 0.75);
            width: 230px;

        }
        &__sign{
            top: 97px;
            width: 240px;
        }

    }
} */